@import 'normalize.css';
@import 'fonts.css';
@import './modal-call.css';
@import './feedback.css';
@import './price.css';
@import "./footer.css";
@import './toggle-menu.css';
/* Общие стили */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: 'TTLakes-Regular';
  background-color: #f8f8f8;
  height: 100%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrap {
  display: block;
  position: fixed;
  width: 320px;
  background-color: #ffffff;

  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 1s ease;
}

#toggle-checkbox:checked + .menu-btn + .wrap {
  display: block;
  transform: translateX(0);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.header {
  margin: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.hidden1 {
  display: none;
}
.main__title__container {
  font-family: 'TTLakes-Bold';
  display: flex;
  align-items: center;
}
.main-article__container {
  margin-bottom: 35px;
}

.main-title {
  margin: 0;
}

.main-title__bar {
  height: 40px;
  width: auto;
  margin-right: 16px;
}

.tab-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
  margin-left: 16px;
}

.tab-buttons::-webkit-scrollbar {
  display: none;
}

.button {
  border: 1px solid transparent;
  color: #7e7e82;
  padding: 10px;
  display: inline-block;
  white-space: nowrap;
  margin-right: 10px;
  border-radius: 5px;
}

.button1 {
  border: 1px solid #b8ffec;
  background-color: #ffffff;
}

.button:hover {
  border: 1px solid #b8ffec;
  background-color: #b8ffec;
  color: #ffffff;
  cursor: pointer;
}

.article {
  margin-left: 16px;
}

.article_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.readMore {
  font-family: 'TTLakes-Medium';
  display: flex;
  align-items: center;
  cursor: pointer;
}

.readMore__text {
  font-size: 16px;
}

.readMore__hidden-text {
  padding: 5px;
}
.hidden {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}
/*320px*/
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: 30px;
}
.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
}
.side-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.title1 {
  display: flex;
  align-items: center;
}
@media (min-width: 320px) {
  .main {
    display: flex;
    flex-direction: column;
    /* min-width: 320px;
        margin-bottom: 16px; */
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* min-width: 320px; */
    height: 88px;
  }
  .CPS-img {
    margin-right: 15px;
    margin-left: 15px;
    max-width: 100vw;
  }
  .brands-small-screens {
    display: none;
  }
  footer {
    max-height: 88px;
  }
}
/*768px */
@media (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .hidden {
    display: block;
  }
  .hidden1 {
    display: none;
  }
  .header__container {
    width: 100%;
    margin-right: 30px;
  }
  .title1 {
    display: flex;
    align-items: center;
  }
  .main {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .main__title__container,
  .article_text {
    flex-direction: row;
  }

  .article {
    flex: 1;
    padding-right: 36px;
    margin-left: 0;
  }
  .logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
  }
  .side-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }
  .main-article__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 25px;
    margin-top: 28px;
    margin-bottom: 40px;
  }
  .CPS-img {
    margin-right: 15px;
    height: 208px;
    width: auto;
  }
  .additional-text::after {
    content: 'Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера';
  }
  .brands-small-screens {
    display: none;
  }
}
/* 1120px */
@media (min-width: 1120px) {
  .header {
    display: none;
  }
  .CPS-img {
    margin-right: 29px;
    margin-bottom: 49px;
    height: 307px;
    width: auto;
  }
  .hidden1 {
    display: block;
  }
  .main-title__bar {
    margin-right: 30px;
  }
  .main__title__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .title1 {
    display: flex;
    align-items: center;
  }

  .main__title__side-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .main-title {
    display: flex;
    justify-content: flex-start;
  }
  .title__side-bar {
    font-family: 'TTLakes-Medium';
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 32px;
  }
  .tab-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    white-space: nowrap;
    margin-left: 16px;
  }
  .additional-text::after {
    content: 'Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера, что подтверждает большое количество постоянных клиентов. Мы гордимся тем, что к нам обращаются по рекомендациям и, в свою очередь, советуют нас родным и близким.';
  }
  .brands-small-screens {
    display: none;
  }
}

.toggle-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 320px;
  background-color: #ffffff;
  height: 100%;
  overflow-y: auto;
}
.toggle-menu::-webkit-scrollbar {
  display: none;
}
.toggle-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 88px;
  padding: 23px;
}
.toggle-menu__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  /* height: 40px; */
}
.toggle-menu__search {
  display: flex;
  justify-content: flex-end;
}
.toggle-menu__list {
  font-family: 'TTLakes-Medium';
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.menu-item {
  display: flex;
  justify-content: flex-start;
  /* margin-bottom: 24px; */
  padding-left: 24px;
  padding-bottom: 24px;
  align-items: center;
}
.menu-item:hover {
  opacity: 0.5;
  cursor: pointer;
}

.list1 {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  padding: 0;
  margin: 0;
}

.toggle-menu__footer {
  padding-left: 24px;
  /* margin-top:268px; */
}
.toggle-menu__footer-icons {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
.footer-mail {
  font-family: 'TTLakes-Medium';
  font-size: 16px;
  margin-bottom: 16px;
}
.footer-phone {
  font-family: 'TTLakes-Bold';
  font-size: 24px;
  margin-bottom: 40px;
}
.footer-lang {
  display: flex;
  flex-direction: row;
  font-family: 'TTLakes-Medium';
  gap: 7px;
  margin-bottom: 32px;
}
.lang:hover {
  opacity: 0.5;
  cursor: pointer;
}

.first-child {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-self: stretch;
}
.toggle-menu__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.toggle-menu__footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
label {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.dec:hover {
  filter: brightness(80%) contrast(50%) saturate(50%);
  transition: filter 0.3s ease;
  cursor: pointer;
}
.highlight1 {
  display: none;
}
.first-child::before {
  content: '';
  display: flex;
  align-self: center;

  transform: translateY(-15px);
  height: 32px;
  width: 4px;
  background: #41f6d7;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
footer {
  /* display: flex; */
  /* justify-content: flex-start; */
  /* flex-direction: column; */
  max-width: 100%;
  /* margin-left:16px; */
  /* background-color: #F2F2F2; */
}
.footer_title {
  font-family: 'TTLakes-Regular';
  height: 56px;
  font-size: 16px;
  background: linear-gradient(to right, #f8f8f8, #ffffff);
  color: #7e7e82;
  /* margin-left: 16px; */
  margin-top: 0%;
  display: flex;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}
.footer-brands__container {
  /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
  width: 100%;
}
.brands-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 24px;
}
.brand {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  height: 72px;
  width: 240px;
  background-color: #ffffff;
  border: solid 1px #eaeaea;
  border-radius: 6px;
}
.brand:hover {
  cursor: pointer;
}
.brand-logo {
  display: flex;
  /* width: 128px; */
  /* height: 100%; */
  width: 100%;
  align-self: center;
  margin-left: 16px;
}
.go-btn {
  height: 40px;
}
.go-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}
.logo-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 16px;
}
.brands-list.limited-view {
  height: 180px;
  overflow: hidden;
}
.brands-list.full-view {
  height: auto;
}
#toggleButton {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: 'TTLakes-Medium';
  margin-top: 24px;
  font-size: 16px;
}
#toggleButton:hover {
  opacity: 0.5;
}
@media (min-width: 1570px) {
  #toggleButton {
    display: none;
  }
  #toggleButton1 {
    display: none;
  }
}
@media (min-width: 2880px) {
  #toggleButton {
    display: none;
  }
  #toggleButton1 {
    display: none;
  }
}
@media (max-width: 768px) {
  #toggleButton {
    display: none;
  }
  #toggleButton1 {
    display: none;
  }

  .brands-list {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .brands-big-screens {
    display: none;
  }
  .brands-list.limited-view {
    height: 180px;
    /* overflow: scroll; */
  }
  .swiper-slide {
    width: 100%;
    height: 70px;
  }
  .mySwiper .swiper-pagination-bullet {
    background-color: #dddddd;
  }
  span.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #b5b6bc;
    /* border: 1px solid #979797; */
    margin-top: 0;
    margin-left: 12px;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #b5b6bc;
  }
  .brands-small-screens {
    display: flex;
    max-width: 100%;
  }
  .swiper-wrapper {
    margin-bottom: 36px;
  }
}
body {
  background-color: #f8f8f8;
  max-width: 100%;
}
.swiper-wrapper {
  margin-left: 16px;
  margin-right: 0;
}
h1 {
  margin-left: 0;
}
.footer_title-text {
  margin-left: 16px;
}
#toggle-checkbox:checked + .menu-btn + .wrap .toggle-menu {
  transform: translateX(0);
}

.fix-types {
  font-family: 'TTLakes-Medium';
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // padding: 16px;
}
#toggleButton1 {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: 'TTLakes-Medium';
  margin-top: 24px;
  font-size: 16px;
}
#toggleButton:hover {
  opacity: 0.5;
}
.swiper-slide1 {
  height: 200px;
}
.fix-types__text,
.fix-btn {
  margin: 16px;
}

.foverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  z-index: 900;
  transition: background-color 0.3s ease-in-out;
  display: none;
}

.foverlay.show {
  background: rgba(255, 255, 255, 0.95);
  display: block;
}

/* стили для тогл меню */
.wrap {
  display: block;
  position: fixed;
  width: 320px; 
  background-color: #ffffff;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

#toggle-checkbox:checked + .menu-btn + .wrap {
  display: block;
  transform: translateX(0);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.toggle-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 320px; 
  background-color: #ffffff;
  height: 100%;
  overflow-y: auto;
}
@media (max-width: 360px) {
  .wrap, .toggle-menu {
    width: 100%;
  }
}
// *******************************
